@import "tailwindcss";

@theme {
  --color-background: #0a0c10;
  --color-surface: #0f172a;
  --color-border: #1e293b;
  --color-accent: #00f0ff;
  --color-accent-dim: #00f0ff15;
  --color-warning: #fbbf24;
  --color-text-main: #e0e6ed;
  --color-text-muted: #64748b;
  --color-text-dim: #94a3b8;
}

@layer base {
  body {
    @apply bg-background text-text-main font-sans;
  }
}
